.orderCard {
  width: 100%;
  height: 100%;
  padding: 20px;
  /* margin: 10px; */
  width: 50%;
  margin: 10px auto;
  line-height: 1.2;
  font-size: larger;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
