.productionCard {
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
